html, body {
  height: 100%;
}

div {
  border: 1px solid black;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 15%;
  padding: 10px;
  background-color: lightgrey;
}

.hero {
  max-width: 100%;
  background-color: white;
} 

.hero p {
  font-size: 1.1em;
}

.second, .third, .fourth, .fifth {
  height: 15%;
}

.second {
  background-color: #4A90E2
}

.third {
  background-color:  #50E3C2;
}

.fourth {
  background-color: #B8E986;
}

.fifth {
  background-color: #F8E71C;
}

.progress {
  height: 75%;
  width: 10%;
  margin-top: 10px;
  background-color: #4A90E2;
}